.row-style {
    justify-content: center;
    padding-top: 100px;
}

.row-style input textarea {
    width: 250px;
}

body {
    color:white
}

textarea {
    font-size:25px;
    width: 600px;
    height: 200px;
}

input {
    font-size:25px;
    width: 600px;
    height: 50px;
}