.row-style {
  justify-content: center;
  padding-top: 40px;
}

.row-style input textarea {
  width: 250px;
}

body {
  color: white;
}

textarea {
  font-size: 20px;
  width: 600px;
  height: 200px;
}

input {
  font-size: 20px;
  width: 600px;
  height: 50px;
}

/*Post preview styles start*/
.post-title a {
  font-size: 28px;
  color: white;
  text-decoration: none;
}

.post-title a:hover {
  color: wheat;
}

.post-meta {
  font-size: 13px;
}

.post-body {
  font-size: 16px;
}

/*Post preview styles end */
